In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [6]:
df = pd.read_csv(r'C:\Stock_Market\Data\Nifty50_Excel\Jan2024.csv', encoding= 'unicode_escape')

In [7]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
0,NaN,NaN,NaN,NaN,(Rs. Crores),(%)
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3142.00,82383,0.87
2,ADANIPORTS,Adani Ports and Special Economic,Services,1207.65,88696,0.93
3,NaN,Zone Ltd.,NaN,NaN,NaN,NaN
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6352.95,63942,0.67

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  51 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     51 non-null     object
 5   Weightage      51 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.6+ KB

In [12]:
df.shape

(52, 6)

In [14]:
print(df)

        Symbol                         Security Name  \
0          NaN                                   NaN
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
3          NaN                             Zone Ltd.
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price    Index Mcap Weightage
0                              NaN          NaN  (Rs. Crores)       (%)
1                  Metals & Mining      3142.00         82383      0.87
2                         Services      1207.65         88696      0.93
3                              NaN          NaN           NaN       NaN
4                       Healthcare      6352.95         63942      0.67
5                Consumer Durables      2957.85        133347      1.40
6               Financial Services      1067.75        296335      3.12
7   Automobile and Auto Components      7667.55         86784      0.91
8               Financial Services      6862.90        190864      2.01
9               Financial Services      1627.30         88276      0.93
10     Oil, Gas & Consumable Fuels       502.35         47948      0.50
11               Telecommunication      1170.70        296164      3.12
12      Fast Moving Consumer Goods      5198.40         61354      0.65
13                      Healthcare      1351.00         70897      0.75
14     Oil, Gas & Consumable Fuels       406.15         92611      0.97
15                      Healthcare      3670.60         46773      0.49
16                      Healthcare      6121.15         74538      0.78
17  Automobile and Auto Components      3839.60         52559      0.55
18          Construction Materials      2175.00         80199      0.84
19          Information Technology      1576.00        166793      1.76
20              Financial Services      1462.55       1099046     11.57
21              Financial Services       576.60         60763      0.64
22  Automobile and Auto Components      4621.55         60046      0.63
23                 Metals & Mining       579.35         84625      0.89
24      Fast Moving Consumer Goods      2481.55        221564      2.33
25              Financial Services      1028.15        721154      7.59
26      Fast Moving Consumer Goods       441.55        391111      4.12
27              Financial Services      1534.05        101412      1.07
28          Information Technology      1660.90        592837      6.24
29                 Metals & Mining       818.65         78077      0.82
30              Financial Services      1825.25        268453      2.83
31          Information Technology      5448.55         49982      0.53
32                    Construction      3479.75        411345      4.33
33  Automobile and Auto Components      1651.55        147870      1.56
34  Automobile and Auto Components     10186.90        134517      1.42
35                           Power       317.50        150856      1.59
36      Fast Moving Consumer Goods      2506.00         89399      0.94
37     Oil, Gas & Consumable Fuels       252.25         98375      1.04
38                           Power       259.30        118171      1.24
39     Oil, Gas & Consumable Fuels      2853.25        965209     10.16
40              Financial Services      1401.15         63130      0.66
41              Financial Services       640.50        245797      2.59
42                      Healthcare      1418.45        153150      1.61
43          Information Technology      3815.95        386580      4.07
44      Fast Moving Consumer Goods      1118.00         70308      0.74
45  Automobile and Auto Components       884.20        155717      1.64
46                 Metals & Mining       135.95        111116      1.17
47          Information Technology      1333.65         83306      0.88
48               Consumer Durables      3697.55        154284      1.62
49                       Chemicals       537.70         27041      0.28
50          Construction Materials     10167.35        117407      1.24
51          Information Technology       478.15         67445      0.71

In [15]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
0,NaN,NaN,NaN,NaN,(Rs. Crores),(%)
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3142.00,82383,0.87
2,ADANIPORTS,Adani Ports and Special Economic,Services,1207.65,88696,0.93
3,NaN,Zone Ltd.,NaN,NaN,NaN,NaN
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6352.95,63942,0.67

In [16]:
pd.isnull(df)

    Symbol  Security Name  Industry  Close Price  Index Mcap  Weightage
0     True           True      True         True       False      False
1    False          False     False        False       False      False
2    False          False     False        False       False      False
3     True          False      True         True        True       True
4    False          False     False        False       False      False
5    False          False     False        False       False      False
6    False          False     False        False       False      False
7    False          False     False        False       False      False
8    False          False     False        False       False      False
9    False          False     False        False       False      False
10   False          False     False        False       False      False
11   False          False     False        False       False      False
12   False          False     False        False       False      False
13   False          False     False        False       False      False
14   False          False     False        False       False      False
15   False          False     False        False       False      False
16   False          False     False        False       False      False
17   False          False     False        False       False      False
18   False          False     False        False       False      False
19   False          False     False        False       False      False
20   False          False     False        False       False      False
21   False          False     False        False       False      False
22   False          False     False        False       False      False
23   False          False     False        False       False      False
24   False          False     False        False       False      False
25   False          False     False        False       False      False
26   False          False     False        False       False      False
27   False          False     False        False       False      False
28   False          False     False        False       False      False
29   False          False     False        False       False      False
30   False          False     False        False       False      False
31   False          False     False        False       False      False
32   False          False     False        False       False      False
33   False          False     False        False       False      False
34   False          False     False        False       False      False
35   False          False     False        False       False      False
36   False          False     False        False       False      False
37   False          False     False        False       False      False
38   False          False     False        False       False      False
39   False          False     False        False       False      False
40   False          False     False        False       False      False
41   False          False     False        False       False      False
42   False          False     False        False       False      False
43   False          False     False        False       False      False
44   False          False     False        False       False      False
45   False          False     False        False       False      False
46   False          False     False        False       False      False
47   False          False     False        False       False      False
48   False          False     False        False       False      False
49   False          False     False        False       False      False
50   False          False     False        False       False      False
51   False          False     False        False       False      False

In [17]:
pd.isnull(df).sum()

Symbol           2
Security Name    1
Industry         2
Close Price      2
Index Mcap       1
Weightage        1
dtype: int64

In [18]:
df.dropna(inplace=True)

In [19]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3142.00,82383,0.87
2,ADANIPORTS,Adani Ports and Special Economic,Services,1207.65,88696,0.93
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6352.95,63942,0.67
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2957.85,133347,1.40
6,AXISBANK,Axis Bank Ltd.,Financial Services,1067.75,296335,3.12

In [20]:
pd.isnull(df)

    Symbol  Security Name  Industry  Close Price  Index Mcap  Weightage
1    False          False     False        False       False      False
2    False          False     False        False       False      False
4    False          False     False        False       False      False
5    False          False     False        False       False      False
6    False          False     False        False       False      False
7    False          False     False        False       False      False
8    False          False     False        False       False      False
9    False          False     False        False       False      False
10   False          False     False        False       False      False
11   False          False     False        False       False      False
12   False          False     False        False       False      False
13   False          False     False        False       False      False
14   False          False     False        False       False      False
15   False          False     False        False       False      False
16   False          False     False        False       False      False
17   False          False     False        False       False      False
18   False          False     False        False       False      False
19   False          False     False        False       False      False
20   False          False     False        False       False      False
21   False          False     False        False       False      False
22   False          False     False        False       False      False
23   False          False     False        False       False      False
24   False          False     False        False       False      False
25   False          False     False        False       False      False
26   False          False     False        False       False      False
27   False          False     False        False       False      False
28   False          False     False        False       False      False
29   False          False     False        False       False      False
30   False          False     False        False       False      False
31   False          False     False        False       False      False
32   False          False     False        False       False      False
33   False          False     False        False       False      False
34   False          False     False        False       False      False
35   False          False     False        False       False      False
36   False          False     False        False       False      False
37   False          False     False        False       False      False
38   False          False     False        False       False      False
39   False          False     False        False       False      False
40   False          False     False        False       False      False
41   False          False     False        False       False      False
42   False          False     False        False       False      False
43   False          False     False        False       False      False
44   False          False     False        False       False      False
45   False          False     False        False       False      False
46   False          False     False        False       False      False
47   False          False     False        False       False      False
48   False          False     False        False       False      False
49   False          False     False        False       False      False
50   False          False     False        False       False      False
51   False          False     False        False       False      False

In [22]:
pd.isnull(df).sum()

Symbol           0
Security Name    0
Industry         0
Close Price      0
Index Mcap       0
Weightage        0
dtype: int64

In [23]:
df.shape

(50, 6)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     object
 5   Weightage      50 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.7+ KB

In [25]:
df['Index Mcap'] = df['Index Mcap'].astype('int')

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     int32
 5   Weightage      50 non-null     object
dtypes: float64(1), int32(1), object(4)
memory usage: 2.5+ KB

In [29]:
df['Weightage'] = df['Weightage'].astype('float')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     int32
 5   Weightage      50 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 2.5+ KB

In [31]:
df.shape

(50, 6)

In [40]:
dup = df.drop_duplicates()

In [41]:
print(dup)

        Symbol                         Security Name  \
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price  Index Mcap  Weightage
1                  Metals & Mining      3142.00       82383       0.87
2                         Services      1207.65       88696       0.93
4                       Healthcare      6352.95       63942       0.67
5                Consumer Durables      2957.85      133347       1.40
6               Financial Services      1067.75      296335       3.12
7   Automobile and Auto Components      7667.55       86784       0.91
8               Financial Services      6862.90      190864       2.01
9               Financial Services      1627.30       88276       0.93
10     Oil, Gas & Consumable Fuels       502.35       47948       0.50
11               Telecommunication      1170.70      296164       3.12
12      Fast Moving Consumer Goods      5198.40       61354       0.65
13                      Healthcare      1351.00       70897       0.75
14     Oil, Gas & Consumable Fuels       406.15       92611       0.97
15                      Healthcare      3670.60       46773       0.49
16                      Healthcare      6121.15       74538       0.78
17  Automobile and Auto Components      3839.60       52559       0.55
18          Construction Materials      2175.00       80199       0.84
19          Information Technology      1576.00      166793       1.76
20              Financial Services      1462.55     1099046      11.57
21              Financial Services       576.60       60763       0.64
22  Automobile and Auto Components      4621.55       60046       0.63
23                 Metals & Mining       579.35       84625       0.89
24      Fast Moving Consumer Goods      2481.55      221564       2.33
25              Financial Services      1028.15      721154       7.59
26      Fast Moving Consumer Goods       441.55      391111       4.12
27              Financial Services      1534.05      101412       1.07
28          Information Technology      1660.90      592837       6.24
29                 Metals & Mining       818.65       78077       0.82
30              Financial Services      1825.25      268453       2.83
31          Information Technology      5448.55       49982       0.53
32                    Construction      3479.75      411345       4.33
33  Automobile and Auto Components      1651.55      147870       1.56
34  Automobile and Auto Components     10186.90      134517       1.42
35                           Power       317.50      150856       1.59
36      Fast Moving Consumer Goods      2506.00       89399       0.94
37     Oil, Gas & Consumable Fuels       252.25       98375       1.04
38                           Power       259.30      118171       1.24
39     Oil, Gas & Consumable Fuels      2853.25      965209      10.16
40              Financial Services      1401.15       63130       0.66
41              Financial Services       640.50      245797       2.59
42                      Healthcare      1418.45      153150       1.61
43          Information Technology      3815.95      386580       4.07
44      Fast Moving Consumer Goods      1118.00       70308       0.74
45  Automobile and Auto Components       884.20      155717       1.64
46                 Metals & Mining       135.95      111116       1.17
47          Information Technology      1333.65       83306       0.88
48               Consumer Durables      3697.55      154284       1.62
49                       Chemicals       537.70       27041       0.28
50          Construction Materials     10167.35      117407       1.24
51          Information Technology       478.15       67445       0.71

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     int32
 5   Weightage      50 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 2.5+ KB

In [37]:
df.shape

(50, 6)

In [46]:
drop = df.dropna()
print(drop)

        Symbol                         Security Name  \
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price  Index Mcap  Weightage
1                  Metals & Mining      3142.00       82383       0.87
2                         Services      1207.65       88696       0.93
4                       Healthcare      6352.95       63942       0.67
5                Consumer Durables      2957.85      133347       1.40
6               Financial Services      1067.75      296335       3.12
7   Automobile and Auto Components      7667.55       86784       0.91
8               Financial Services      6862.90      190864       2.01
9               Financial Services      1627.30       88276       0.93
10     Oil, Gas & Consumable Fuels       502.35       47948       0.50
11               Telecommunication      1170.70      296164       3.12
12      Fast Moving Consumer Goods      5198.40       61354       0.65
13                      Healthcare      1351.00       70897       0.75
14     Oil, Gas & Consumable Fuels       406.15       92611       0.97
15                      Healthcare      3670.60       46773       0.49
16                      Healthcare      6121.15       74538       0.78
17  Automobile and Auto Components      3839.60       52559       0.55
18          Construction Materials      2175.00       80199       0.84
19          Information Technology      1576.00      166793       1.76
20              Financial Services      1462.55     1099046      11.57
21              Financial Services       576.60       60763       0.64
22  Automobile and Auto Components      4621.55       60046       0.63
23                 Metals & Mining       579.35       84625       0.89
24      Fast Moving Consumer Goods      2481.55      221564       2.33
25              Financial Services      1028.15      721154       7.59
26      Fast Moving Consumer Goods       441.55      391111       4.12
27              Financial Services      1534.05      101412       1.07
28          Information Technology      1660.90      592837       6.24
29                 Metals & Mining       818.65       78077       0.82
30              Financial Services      1825.25      268453       2.83
31          Information Technology      5448.55       49982       0.53
32                    Construction      3479.75      411345       4.33
33  Automobile and Auto Components      1651.55      147870       1.56
34  Automobile and Auto Components     10186.90      134517       1.42
35                           Power       317.50      150856       1.59
36      Fast Moving Consumer Goods      2506.00       89399       0.94
37     Oil, Gas & Consumable Fuels       252.25       98375       1.04
38                           Power       259.30      118171       1.24
39     Oil, Gas & Consumable Fuels      2853.25      965209      10.16
40              Financial Services      1401.15       63130       0.66
41              Financial Services       640.50      245797       2.59
42                      Healthcare      1418.45      153150       1.61
43          Information Technology      3815.95      386580       4.07
44      Fast Moving Consumer Goods      1118.00       70308       0.74
45  Automobile and Auto Components       884.20      155717       1.64
46                 Metals & Mining       135.95      111116       1.17
47          Information Technology      1333.65       83306       0.88
48               Consumer Durables      3697.55      154284       1.62
49                       Chemicals       537.70       27041       0.28
50          Construction Materials     10167.35      117407       1.24
51          Information Technology       478.15       67445       0.71

In [50]:
dup = drop.drop_duplicates()

In [51]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3142.00,82383,0.87
2,ADANIPORTS,Adani Ports and Special Economic,Services,1207.65,88696,0.93
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6352.95,63942,0.67
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2957.85,133347,1.40
6,AXISBANK,Axis Bank Ltd.,Financial Services,1067.75,296335,3.12

In [53]:
df.shape

(50, 6)

In [61]:
df.to_csv(r'C:\Stock_Market\Data\Nifty50_Excel - Clean\clean1_Jan2024.csv', index = False)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Stock_Market\\Data\\Nifty50_Excel\\Feb2024'

In [64]:
df = pd.read_csv(r'C:\Stock_Market\Data\Nifty50_Excel\Feb2024.csv', encoding= 'unicode_escape')

In [65]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
0,NaN,NaN,NaN,NaN,(Rs. Crores),(%)
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3285.4,86143,0.90
2,ADANIPORTS,Adani Ports and Special Economic,Services,1320.5,96984,1.01
3,NaN,Zone Ltd.,NaN,NaN,NaN,NaN
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6101.6,61412,0.64

In [67]:
df.shape

(52, 6)

In [68]:
df.info

<bound method DataFrame.info of         Symbol                         Security Name  \
0          NaN                                   NaN
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
3          NaN                             Zone Ltd.
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price    Index Mcap Weightage
0                              NaN          NaN  (Rs. Crores)       (%)
1                  Metals & Mining      3285.40         86143      0.90
2                         Services      1320.50         96984      1.01
3                              NaN          NaN           NaN       NaN
4                       Healthcare      6101.60         61412      0.64
5                Consumer Durables      2821.90        127218      1.32
6               Financial Services      1075.10        298375      3.10
7   Automobile and Auto Components      7909.35         89520      0.93
8               Financial Services      6495.35        180642      1.88
9               Financial Services      1593.80         86458      0.90
10     Oil, Gas & Consumable Fuels       603.85         57636      0.60
11               Telecommunication      1123.35        284185      2.96
12      Fast Moving Consumer Goods      4965.20         58602      0.61
13                      Healthcare      1480.35         77685      0.81
14     Oil, Gas & Consumable Fuels       436.70         99577      1.04
15                      Healthcare      3488.80         44456      0.46
16                      Healthcare      6424.25         78229      0.81
17  Automobile and Auto Components      3792.40         51913      0.54
18          Construction Materials      2191.40         80804      0.84
19          Information Technology      1663.85        176090      1.83
20              Financial Services      1403.40       1054597     10.97
21              Financial Services       582.00         61333      0.64
22  Automobile and Auto Components      4426.50         57512      0.60
23                 Metals & Mining       503.85         73597      0.77
24      Fast Moving Consumer Goods      2412.30        215381      2.24
25              Financial Services      1052.20        738023      7.68
26      Fast Moving Consumer Goods       406.30        359888      3.74
27              Financial Services      1474.90         97502      1.01
28          Information Technology      1673.90        597478      6.22
29                 Metals & Mining       800.10         76308      0.79
30              Financial Services      1689.45        248480      2.58
31          Information Technology      5300.85         48627      0.51
32                    Construction      3477.55        411085      4.28
33  Automobile and Auto Components      1932.40        173016      1.80
34  Automobile and Auto Components     11288.35        149062      1.55
35                           Power       335.60        159456      1.66
36      Fast Moving Consumer Goods      2596.20         92616      0.96
37     Oil, Gas & Consumable Fuels       264.60        103191      1.07
38                           Power       282.85        128903      1.34
39     Oil, Gas & Consumable Fuels      2921.60        988331     10.28
40              Financial Services      1552.55         69951      0.73
41              Financial Services       748.10        287090      2.99
42                      Healthcare      1577.95        170371      1.77
43          Information Technology      4095.10        414860      4.32
44      Fast Moving Consumer Goods      1190.05         74839      0.78
45  Automobile and Auto Components       950.20        167341      1.74
46                 Metals & Mining       140.85        116048      1.21
47          Information Technology      1273.85         79571      0.83
48               Consumer Durables      3624.40        151232      1.57
49                       Chemicals       469.70         23622      0.25
50          Construction Materials      9892.40        114232      1.19
51          Information Technology       518.60         73151      0.76  >

In [69]:
df.info

<bound method DataFrame.info of         Symbol                         Security Name  \
0          NaN                                   NaN
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
3          NaN                             Zone Ltd.
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price    Index Mcap Weightage
0                              NaN          NaN  (Rs. Crores)       (%)
1                  Metals & Mining      3285.40         86143      0.90
2                         Services      1320.50         96984      1.01
3                              NaN          NaN           NaN       NaN
4                       Healthcare      6101.60         61412      0.64
5                Consumer Durables      2821.90        127218      1.32
6               Financial Services      1075.10        298375      3.10
7   Automobile and Auto Components      7909.35         89520      0.93
8               Financial Services      6495.35        180642      1.88
9               Financial Services      1593.80         86458      0.90
10     Oil, Gas & Consumable Fuels       603.85         57636      0.60
11               Telecommunication      1123.35        284185      2.96
12      Fast Moving Consumer Goods      4965.20         58602      0.61
13                      Healthcare      1480.35         77685      0.81
14     Oil, Gas & Consumable Fuels       436.70         99577      1.04
15                      Healthcare      3488.80         44456      0.46
16                      Healthcare      6424.25         78229      0.81
17  Automobile and Auto Components      3792.40         51913      0.54
18          Construction Materials      2191.40         80804      0.84
19          Information Technology      1663.85        176090      1.83
20              Financial Services      1403.40       1054597     10.97
21              Financial Services       582.00         61333      0.64
22  Automobile and Auto Components      4426.50         57512      0.60
23                 Metals & Mining       503.85         73597      0.77
24      Fast Moving Consumer Goods      2412.30        215381      2.24
25              Financial Services      1052.20        738023      7.68
26      Fast Moving Consumer Goods       406.30        359888      3.74
27              Financial Services      1474.90         97502      1.01
28          Information Technology      1673.90        597478      6.22
29                 Metals & Mining       800.10         76308      0.79
30              Financial Services      1689.45        248480      2.58
31          Information Technology      5300.85         48627      0.51
32                    Construction      3477.55        411085      4.28
33  Automobile and Auto Components      1932.40        173016      1.80
34  Automobile and Auto Components     11288.35        149062      1.55
35                           Power       335.60        159456      1.66
36      Fast Moving Consumer Goods      2596.20         92616      0.96
37     Oil, Gas & Consumable Fuels       264.60        103191      1.07
38                           Power       282.85        128903      1.34
39     Oil, Gas & Consumable Fuels      2921.60        988331     10.28
40              Financial Services      1552.55         69951      0.73
41              Financial Services       748.10        287090      2.99
42                      Healthcare      1577.95        170371      1.77
43          Information Technology      4095.10        414860      4.32
44      Fast Moving Consumer Goods      1190.05         74839      0.78
45  Automobile and Auto Components       950.20        167341      1.74
46                 Metals & Mining       140.85        116048      1.21
47          Information Technology      1273.85         79571      0.83
48               Consumer Durables      3624.40        151232      1.57
49                       Chemicals       469.70         23622      0.25
50          Construction Materials      9892.40        114232      1.19
51          Information Technology       518.60         73151      0.76  >

In [71]:
df.shape

(52, 6)

In [72]:
df.info

<bound method DataFrame.info of         Symbol                         Security Name  \
0          NaN                                   NaN
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
3          NaN                             Zone Ltd.
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41        SBIN                   State Bank of India
42   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
43         TCS        Tata Consultancy Services Ltd.
44  TATACONSUM           Tata Consumer Products Ltd.
45  TATAMOTORS                      Tata Motors Ltd.
46   TATASTEEL                       Tata Steel Ltd.
47       TECHM                    Tech Mahindra Ltd.
48       TITAN                    Titan Company Ltd.
49         UPL                              UPL Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price    Index Mcap Weightage
0                              NaN          NaN  (Rs. Crores)       (%)
1                  Metals & Mining      3285.40         86143      0.90
2                         Services      1320.50         96984      1.01
3                              NaN          NaN           NaN       NaN
4                       Healthcare      6101.60         61412      0.64
5                Consumer Durables      2821.90        127218      1.32
6               Financial Services      1075.10        298375      3.10
7   Automobile and Auto Components      7909.35         89520      0.93
8               Financial Services      6495.35        180642      1.88
9               Financial Services      1593.80         86458      0.90
10     Oil, Gas & Consumable Fuels       603.85         57636      0.60
11               Telecommunication      1123.35        284185      2.96
12      Fast Moving Consumer Goods      4965.20         58602      0.61
13                      Healthcare      1480.35         77685      0.81
14     Oil, Gas & Consumable Fuels       436.70         99577      1.04
15                      Healthcare      3488.80         44456      0.46
16                      Healthcare      6424.25         78229      0.81
17  Automobile and Auto Components      3792.40         51913      0.54
18          Construction Materials      2191.40         80804      0.84
19          Information Technology      1663.85        176090      1.83
20              Financial Services      1403.40       1054597     10.97
21              Financial Services       582.00         61333      0.64
22  Automobile and Auto Components      4426.50         57512      0.60
23                 Metals & Mining       503.85         73597      0.77
24      Fast Moving Consumer Goods      2412.30        215381      2.24
25              Financial Services      1052.20        738023      7.68
26      Fast Moving Consumer Goods       406.30        359888      3.74
27              Financial Services      1474.90         97502      1.01
28          Information Technology      1673.90        597478      6.22
29                 Metals & Mining       800.10         76308      0.79
30              Financial Services      1689.45        248480      2.58
31          Information Technology      5300.85         48627      0.51
32                    Construction      3477.55        411085      4.28
33  Automobile and Auto Components      1932.40        173016      1.80
34  Automobile and Auto Components     11288.35        149062      1.55
35                           Power       335.60        159456      1.66
36      Fast Moving Consumer Goods      2596.20         92616      0.96
37     Oil, Gas & Consumable Fuels       264.60        103191      1.07
38                           Power       282.85        128903      1.34
39     Oil, Gas & Consumable Fuels      2921.60        988331     10.28
40              Financial Services      1552.55         69951      0.73
41              Financial Services       748.10        287090      2.99
42                      Healthcare      1577.95        170371      1.77
43          Information Technology      4095.10        414860      4.32
44      Fast Moving Consumer Goods      1190.05         74839      0.78
45  Automobile and Auto Components       950.20        167341      1.74
46                 Metals & Mining       140.85        116048      1.21
47          Information Technology      1273.85         79571      0.83
48               Consumer Durables      3624.40        151232      1.57
49                       Chemicals       469.70         23622      0.25
50          Construction Materials      9892.40        114232      1.19
51          Information Technology       518.60         73151      0.76  >

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  51 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     51 non-null     object
 5   Weightage      51 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.6+ KB

In [81]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
0,NaN,NaN,NaN,NaN,(Rs. Crores),(%)
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3285.4,86143,0.90
2,ADANIPORTS,Adani Ports and Special Economic,Services,1320.5,96984,1.01
3,NaN,Zone Ltd.,NaN,NaN,NaN,NaN
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6101.6,61412,0.64

In [83]:
pd.isnull(df).sum()

Symbol           2
Security Name    1
Industry         2
Close Price      2
Index Mcap       1
Weightage        1
dtype: int64

In [98]:
drop = df.dropna()

In [99]:
pd.isnull(df)

    Symbol  Security Name  Industry  Close Price  Index Mcap  Weightage
1    False          False     False        False       False      False
2    False          False     False        False       False      False
4    False          False     False        False       False      False
5    False          False     False        False       False      False
6    False          False     False        False       False      False
7    False          False     False        False       False      False
8    False          False     False        False       False      False
9    False          False     False        False       False      False
10   False          False     False        False       False      False
11   False          False     False        False       False      False
12   False          False     False        False       False      False
13   False          False     False        False       False      False
14   False          False     False        False       False      False
15   False          False     False        False       False      False
16   False          False     False        False       False      False
17   False          False     False        False       False      False
18   False          False     False        False       False      False
19   False          False     False        False       False      False
20   False          False     False        False       False      False
21   False          False     False        False       False      False
22   False          False     False        False       False      False
23   False          False     False        False       False      False
24   False          False     False        False       False      False
25   False          False     False        False       False      False
26   False          False     False        False       False      False
27   False          False     False        False       False      False
28   False          False     False        False       False      False
29   False          False     False        False       False      False
30   False          False     False        False       False      False
31   False          False     False        False       False      False
32   False          False     False        False       False      False
33   False          False     False        False       False      False
34   False          False     False        False       False      False
35   False          False     False        False       False      False
36   False          False     False        False       False      False
37   False          False     False        False       False      False
38   False          False     False        False       False      False
39   False          False     False        False       False      False
40   False          False     False        False       False      False
41   False          False     False        False       False      False
42   False          False     False        False       False      False
43   False          False     False        False       False      False
44   False          False     False        False       False      False
45   False          False     False        False       False      False
46   False          False     False        False       False      False
47   False          False     False        False       False      False
48   False          False     False        False       False      False
49   False          False     False        False       False      False
50   False          False     False        False       False      False
51   False          False     False        False       False      False

In [93]:
df.dropna(inplace = True)

In [94]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3285.4,86143,0.90
2,ADANIPORTS,Adani Ports and Special Economic,Services,1320.5,96984,1.01
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6101.6,61412,0.64
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2821.9,127218,1.32
6,AXISBANK,Axis Bank Ltd.,Financial Services,1075.1,298375,3.10

In [96]:
pd.isnull(df).sum()

Symbol           0
Security Name    0
Industry         0
Close Price      0
Index Mcap       0
Weightage        0
dtype: int64

In [100]:
dup = df.drop_duplicates()

In [101]:
df.shape

(50, 6)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     object
 5   Weightage      50 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.7+ KB

In [103]:
df['Index Mcap'] = df['Index Mcap'].astype('int')

In [106]:
df['Weightage'] = df['Weightage'].astype('float')

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     int32
 5   Weightage      50 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 2.5+ KB

In [109]:
df.to_csv(r'C:\Stock_Market\Data\Nifty50_Excel - Clean\clean1_Feb2024.csv', index =False)

In [1]:
df.head()

NameError: name 'df' is not defined

In [8]:
df =pd.read_csv(r'C:\Stock_Market\Data\Nifty50_Excel\March2024.csv', encoding='unicode_escape')

In [9]:
df.head()

,ï»¿Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
0,NaN,NaN,NaN,NaN,(Rs. Crores),(%)
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
3,NaN,Zone Ltd.,NaN,NaN,NaN,NaN
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65

In [10]:
df.shape

(52, 6)

In [11]:
df.info

<bound method DataFrame.info of      ï»¿Symbol                         Security Name  \
0          NaN                                   NaN
1     ADANIENT                Adani Enterprises Ltd.
2   ADANIPORTS      Adani Ports and Special Economic
3          NaN                             Zone Ltd.
4   APOLLOHOSP      Apollo Hospitals Enterprise Ltd.
5   ASIANPAINT                     Asian Paints Ltd.
6     AXISBANK                        Axis Bank Ltd.
7   BAJAJ-AUTO                       Bajaj Auto Ltd.
8   BAJFINANCE                    Bajaj Finance Ltd.
9   BAJAJFINSV                    Bajaj Finserv Ltd.
10        BPCL     Bharat Petroleum Corporation Ltd.
11  BHARTIARTL                    Bharti Airtel Ltd.
12   BRITANNIA             Britannia Industries Ltd.
13       CIPLA                            Cipla Ltd.
14   COALINDIA                       Coal India Ltd.
15    DIVISLAB              Divi's Laboratories Ltd.
16     DRREDDY         Dr. Reddy's Laboratories Ltd.
17   EICHERMOT                    Eicher Motors Ltd.
18      GRASIM                Grasim Industries Ltd.
19     HCLTECH                 HCL Technologies Ltd.
20    HDFCBANK                        HDFC Bank Ltd.
21    HDFCLIFE      HDFC Life Insurance Company Ltd.
22  HEROMOTOCO                    Hero MotoCorp Ltd.
23    HINDALCO              Hindalco Industries Ltd.
24  HINDUNILVR               Hindustan Unilever Ltd.
25   ICICIBANK                       ICICI Bank Ltd.
26         ITC                              ITC Ltd.
27  INDUSINDBK                    IndusInd Bank Ltd.
28        INFY                          Infosys Ltd.
29    JSWSTEEL                        JSW Steel Ltd.
30   KOTAKBANK              Kotak Mahindra Bank Ltd.
31        LTIM                      LTIMindtree Ltd.
32          LT                  Larsen & Toubro Ltd.
33         M&M              Mahindra & Mahindra Ltd.
34      MARUTI              Maruti Suzuki India Ltd.
35        NTPC                             NTPC Ltd.
36   NESTLEIND                     Nestle India Ltd.
37        ONGC    Oil & Natural Gas Corporation Ltd.
38   POWERGRID  Power Grid Corporation of India Ltd.
39    RELIANCE              Reliance Industries Ltd.
40     SBILIFE       SBI Life Insurance Company Ltd.
41  SHRIRAMFIN                  Shriram Finance Ltd.
42        SBIN                   State Bank of India
43   SUNPHARMA    Sun Pharmaceutical Industries Ltd.
44         TCS        Tata Consultancy Services Ltd.
45  TATACONSUM           Tata Consumer Products Ltd.
46  TATAMOTORS                      Tata Motors Ltd.
47   TATASTEEL                       Tata Steel Ltd.
48       TECHM                    Tech Mahindra Ltd.
49       TITAN                    Titan Company Ltd.
50  ULTRACEMCO                 UltraTech Cement Ltd.
51       WIPRO                            Wipro Ltd.

                          Industry  Close Price    Index Mcap Weightage
0                              NaN          NaN  (Rs. Crores)       (%)
1                  Metals & Mining      3197.10         83828      0.85
2                         Services      1341.85         98552      1.00
3                              NaN          NaN           NaN       NaN
4                       Healthcare      6356.80         63981      0.65
5                Consumer Durables      2846.75        128338      1.30
6               Financial Services      1047.20        297312      3.02
7   Automobile and Auto Components      9148.15        103623      1.05
8               Financial Services      7245.25        201815      2.05
9               Financial Services      1643.85         89173      0.91
10     Oil, Gas & Consumable Fuels       602.40         57497      0.58
11               Telecommunication      1228.60        319601      3.25
12      Fast Moving Consumer Goods      4911.25         57965      0.59
13                      Healthcare      1496.95         78558      0.80
14     Oil, Gas & Consumable Fuels       434.10         98984      1.01
15                      Healthcare      3445.30         43902      0.45
16                      Healthcare      6157.90         74989      0.76
17  Automobile and Auto Components      4019.30         55025      0.56
18          Construction Materials      2287.30         84344      0.86
19          Information Technology      1543.55        163358      1.66
20              Financial Services      1447.90       1088916     11.07
21              Financial Services       633.35         66750      0.68
22  Automobile and Auto Components      4722.30         61366      0.62
23                 Metals & Mining       560.25         81835      0.83
24      Fast Moving Consumer Goods      2264.35        202171      2.05
25              Financial Services      1093.30        767657      7.80
26      Fast Moving Consumer Goods       428.35        379597      3.86
27              Financial Services      1553.00        102737      1.04
28          Information Technology      1498.05        534746      5.44
29                 Metals & Mining       830.20         79178      0.80
30              Financial Services      1785.50        262655      2.67
31          Information Technology      4938.40         45340      0.46
32                    Construction      3763.90        444961      4.52
33  Automobile and Auto Components      1921.35        183973      1.87
34  Automobile and Auto Components     12600.35        166386      1.69
35                           Power       335.80        159551      1.62
36      Fast Moving Consumer Goods      2622.35         93549      0.95
37     Oil, Gas & Consumable Fuels       268.05        104536      1.06
38                           Power       276.90        126192      1.28
39     Oil, Gas & Consumable Fuels      2971.70       1005280     10.22
40              Financial Services      1500.25         67604      0.69
41              Financial Services      2359.80         65623      0.67
42              Financial Services       752.35        288721      2.93
43                      Healthcare      1620.55        174971      1.78
44          Information Technology      3876.30        392694      3.99
45      Fast Moving Consumer Goods      1096.20         68937      0.70
46  Automobile and Auto Components       992.80        174864      1.78
47                 Metals & Mining       155.85        128407      1.31
48          Information Technology      1248.10         79225      0.81
49               Consumer Durables      3801.80        158634      1.61
50          Construction Materials      9749.15        112579      1.14
51          Information Technology       480.10         67730      0.69  >

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ï»¿Symbol      50 non-null     object
 1   Security Name  51 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     51 non-null     object
 5   Weightage      51 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.6+ KB

In [13]:
df.dropna()

,ï»¿Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02
7,BAJAJ-AUTO,Bajaj Auto Ltd.,Automobile and Auto Components,9148.15,103623,1.05
8,BAJFINANCE,Bajaj Finance Ltd.,Financial Services,7245.25,201815,2.05
9,BAJAJFINSV,Bajaj Finserv Ltd.,Financial Services,1643.85,89173,0.91
10,BPCL,Bharat Petroleum Corporation Ltd.,"Oil, Gas & Consumable Fuels",602.40,57497,0.58
11,BHARTIARTL,Bharti Airtel Ltd.,Telecommunication,1228.60,319601,3.25
12,BRITANNIA,Britannia Industries Ltd.,Fast Moving Consumer Goods,4911.25,57965,0.59
13,CIPLA,Cipla Ltd.,Healthcare,1496.95,78558,0.80
14,COALINDIA,Coal India Ltd.,"Oil, Gas & Consumable Fuels",434.10,98984,1.01
15,DIVISLAB,Divi's Laboratories Ltd.,Healthcare,3445.30,43902,0.45
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,Healthcare,6157.90,74989,0.76
17,EICHERMOT,Eicher Motors Ltd.,Automobile and Auto Components,4019.30,55025,0.56
18,GRASIM,Grasim Industries Ltd.,Construction Materials,2287.30,84344,0.86
19,HCLTECH,HCL Technologies Ltd.,Information Technology,1543.55,163358,1.66
20,HDFCBANK,HDFC Bank Ltd.,Financial Services,1447.90,1088916,11.07
21,HDFCLIFE,HDFC Life Insurance Company Ltd.,Financial Services,633.35,66750,0.68
22,HEROMOTOCO,Hero MotoCorp Ltd.,Automobile and Auto Components,4722.30,61366,0.62
23,HINDALCO,Hindalco Industries Ltd.,Metals & Mining,560.25,81835,0.83
24,HINDUNILVR,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,2264.35,202171,2.05
25,ICICIBANK,ICICI Bank Ltd.,Financial Services,1093.30,767657,7.80
26,ITC,ITC Ltd.,Fast Moving Consumer Goods,428.35,379597,3.86
27,INDUSINDBK,IndusInd Bank Ltd.,Financial Services,1553.00,102737,1.04
28,INFY,Infosys Ltd.,Information Technology,1498.05,534746,5.44
29,JSWSTEEL,JSW Steel Ltd.,Metals & Mining,830.20,79178,0.80
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,Financial Services,1785.50,262655,2.67
31,LTIM,LTIMindtree Ltd.,Information Technology,4938.40,45340,0.46
32,LT,Larsen & Toubro Ltd.,Construction,3763.90,444961,4.52
33,M&M,Mahindra & Mahindra Ltd.,Automobile and Auto Components,1921.35,183973,1.87
34,MARUTI,Maruti Suzuki India Ltd.,Automobile and Auto Components,12600.35,166386,1.69
35,NTPC,NTPC Ltd.,Power,335.80,159551,1.62
36,NESTLEIND,Nestle India Ltd.,Fast Moving Consumer Goods,2622.35,93549,0.95
37,ONGC,Oil & Natural Gas Corporation Ltd.,"Oil, Gas & Consumable Fuels",268.05,104536,1.06
38,POWERGRID,Power Grid Corporation of India Ltd.,Power,276.90,126192,1.28
39,RELIANCE,Reliance Industries Ltd.,"Oil, Gas & Consumable Fuels",2971.70,1005280,10.22
40,SBILIFE,SBI Life Insurance Company Ltd.,Financial Services,1500.25,67604,0.69
41,SHRIRAMFIN,Shriram Finance Ltd.,Financial Services,2359.80,65623,0.67
42,SBIN,State Bank of India,Financial Services,752.35,288721,2.93
43,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,Healthcare,1620.55,174971,1.78
44,TCS,Tata Consultancy Services Ltd.,Information Technology,3876.30,392694,3.99
45,TATACONSUM,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,1096.20,68937,0.70
46,TATAMOTORS,Tata Motors Ltd.,Automobile and Auto Components,992.80,174864,1.78
47,TATASTEEL,Tata Steel Ltd.,Metals & Mining,155.85,128407,1.31
48,TECHM,Tech Mahindra Ltd.,Information Technology,1248.10,79225,0.81
49,TITAN,Titan Company Ltd.,Consumer Durables,3801.80,158634,1.61
50,ULTRACEMCO,UltraTech Cement Ltd.,Construction Materials,9749.15,112579,1.14
51,WIPRO,Wipro Ltd.,Information Technology,480.10,67730,0.69

In [15]:
pd.isnull(df)

    ï»¿Symbol  Security Name  Industry  Close Price  Index Mcap  Weightage
0        True           True      True         True       False      False
1       False          False     False        False       False      False
2       False          False     False        False       False      False
3        True          False      True         True        True       True
4       False          False     False        False       False      False
5       False          False     False        False       False      False
6       False          False     False        False       False      False
7       False          False     False        False       False      False
8       False          False     False        False       False      False
9       False          False     False        False       False      False
10      False          False     False        False       False      False
11      False          False     False        False       False      False
12      False          False     False        False       False      False
13      False          False     False        False       False      False
14      False          False     False        False       False      False
15      False          False     False        False       False      False
16      False          False     False        False       False      False
17      False          False     False        False       False      False
18      False          False     False        False       False      False
19      False          False     False        False       False      False
20      False          False     False        False       False      False
21      False          False     False        False       False      False
22      False          False     False        False       False      False
23      False          False     False        False       False      False
24      False          False     False        False       False      False
25      False          False     False        False       False      False
26      False          False     False        False       False      False
27      False          False     False        False       False      False
28      False          False     False        False       False      False
29      False          False     False        False       False      False
30      False          False     False        False       False      False
31      False          False     False        False       False      False
32      False          False     False        False       False      False
33      False          False     False        False       False      False
34      False          False     False        False       False      False
35      False          False     False        False       False      False
36      False          False     False        False       False      False
37      False          False     False        False       False      False
38      False          False     False        False       False      False
39      False          False     False        False       False      False
40      False          False     False        False       False      False
41      False          False     False        False       False      False
42      False          False     False        False       False      False
43      False          False     False        False       False      False
44      False          False     False        False       False      False
45      False          False     False        False       False      False
46      False          False     False        False       False      False
47      False          False     False        False       False      False
48      False          False     False        False       False      False
49      False          False     False        False       False      False
50      False          False     False        False       False      False
51      False          False     False        False       False      False

In [18]:
pd.isnull(df).sum()

ï»¿Symbol        2
Security Name    1
Industry         2
Close Price      2
Index Mcap       1
Weightage        1
dtype: int64

In [19]:
df.dropna(inplace =True)

In [20]:
pd.isnull(df).sum()

ï»¿Symbol        0
Security Name    0
Industry         0
Close Price      0
Index Mcap       0
Weightage        0
dtype: int64

In [37]:
df.rename(columns= {'ï»¿Symbol':'Name'}, inplace = True)

,Name,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02
7,BAJAJ-AUTO,Bajaj Auto Ltd.,Automobile and Auto Components,9148.15,103623,1.05
8,BAJFINANCE,Bajaj Finance Ltd.,Financial Services,7245.25,201815,2.05
9,BAJAJFINSV,Bajaj Finserv Ltd.,Financial Services,1643.85,89173,0.91
10,BPCL,Bharat Petroleum Corporation Ltd.,"Oil, Gas & Consumable Fuels",602.40,57497,0.58
11,BHARTIARTL,Bharti Airtel Ltd.,Telecommunication,1228.60,319601,3.25
12,BRITANNIA,Britannia Industries Ltd.,Fast Moving Consumer Goods,4911.25,57965,0.59
13,CIPLA,Cipla Ltd.,Healthcare,1496.95,78558,0.80
14,COALINDIA,Coal India Ltd.,"Oil, Gas & Consumable Fuels",434.10,98984,1.01
15,DIVISLAB,Divi's Laboratories Ltd.,Healthcare,3445.30,43902,0.45
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,Healthcare,6157.90,74989,0.76
17,EICHERMOT,Eicher Motors Ltd.,Automobile and Auto Components,4019.30,55025,0.56
18,GRASIM,Grasim Industries Ltd.,Construction Materials,2287.30,84344,0.86
19,HCLTECH,HCL Technologies Ltd.,Information Technology,1543.55,163358,1.66
20,HDFCBANK,HDFC Bank Ltd.,Financial Services,1447.90,1088916,11.07
21,HDFCLIFE,HDFC Life Insurance Company Ltd.,Financial Services,633.35,66750,0.68
22,HEROMOTOCO,Hero MotoCorp Ltd.,Automobile and Auto Components,4722.30,61366,0.62
23,HINDALCO,Hindalco Industries Ltd.,Metals & Mining,560.25,81835,0.83
24,HINDUNILVR,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,2264.35,202171,2.05
25,ICICIBANK,ICICI Bank Ltd.,Financial Services,1093.30,767657,7.80
26,ITC,ITC Ltd.,Fast Moving Consumer Goods,428.35,379597,3.86
27,INDUSINDBK,IndusInd Bank Ltd.,Financial Services,1553.00,102737,1.04
28,INFY,Infosys Ltd.,Information Technology,1498.05,534746,5.44
29,JSWSTEEL,JSW Steel Ltd.,Metals & Mining,830.20,79178,0.80
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,Financial Services,1785.50,262655,2.67
31,LTIM,LTIMindtree Ltd.,Information Technology,4938.40,45340,0.46
32,LT,Larsen & Toubro Ltd.,Construction,3763.90,444961,4.52
33,M&M,Mahindra & Mahindra Ltd.,Automobile and Auto Components,1921.35,183973,1.87
34,MARUTI,Maruti Suzuki India Ltd.,Automobile and Auto Components,12600.35,166386,1.69
35,NTPC,NTPC Ltd.,Power,335.80,159551,1.62
36,NESTLEIND,Nestle India Ltd.,Fast Moving Consumer Goods,2622.35,93549,0.95
37,ONGC,Oil & Natural Gas Corporation Ltd.,"Oil, Gas & Consumable Fuels",268.05,104536,1.06
38,POWERGRID,Power Grid Corporation of India Ltd.,Power,276.90,126192,1.28
39,RELIANCE,Reliance Industries Ltd.,"Oil, Gas & Consumable Fuels",2971.70,1005280,10.22
40,SBILIFE,SBI Life Insurance Company Ltd.,Financial Services,1500.25,67604,0.69
41,SHRIRAMFIN,Shriram Finance Ltd.,Financial Services,2359.80,65623,0.67
42,SBIN,State Bank of India,Financial Services,752.35,288721,2.93
43,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,Healthcare,1620.55,174971,1.78
44,TCS,Tata Consultancy Services Ltd.,Information Technology,3876.30,392694,3.99
45,TATACONSUM,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,1096.20,68937,0.70
46,TATAMOTORS,Tata Motors Ltd.,Automobile and Auto Components,992.80,174864,1.78
47,TATASTEEL,Tata Steel Ltd.,Metals & Mining,155.85,128407,1.31
48,TECHM,Tech Mahindra Ltd.,Information Technology,1248.10,79225,0.81
49,TITAN,Titan Company Ltd.,Consumer Durables,3801.80,158634,1.61
50,ULTRACEMCO,UltraTech Cement Ltd.,Construction Materials,9749.15,112579,1.14
51,WIPRO,Wipro Ltd.,Information Technology,480.10,67730,0.69

In [39]:
df.head()

,ï»¿Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [40]:
df.rename(columns= {'ï»¿Symbol':'Name'}, inplace = True)

In [41]:
df.head()

,Name,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [42]:
df.rename(columns= {'Name':'Sym'}, inplace = True)

In [43]:
df.head()

,Sym,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [44]:
df.rename(columns= {'Sym':'Symbol'}, inplace = True)

In [45]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [46]:
df.drop_duplicates()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02
7,BAJAJ-AUTO,Bajaj Auto Ltd.,Automobile and Auto Components,9148.15,103623,1.05
8,BAJFINANCE,Bajaj Finance Ltd.,Financial Services,7245.25,201815,2.05
9,BAJAJFINSV,Bajaj Finserv Ltd.,Financial Services,1643.85,89173,0.91
10,BPCL,Bharat Petroleum Corporation Ltd.,"Oil, Gas & Consumable Fuels",602.40,57497,0.58
11,BHARTIARTL,Bharti Airtel Ltd.,Telecommunication,1228.60,319601,3.25
12,BRITANNIA,Britannia Industries Ltd.,Fast Moving Consumer Goods,4911.25,57965,0.59
13,CIPLA,Cipla Ltd.,Healthcare,1496.95,78558,0.80
14,COALINDIA,Coal India Ltd.,"Oil, Gas & Consumable Fuels",434.10,98984,1.01
15,DIVISLAB,Divi's Laboratories Ltd.,Healthcare,3445.30,43902,0.45
16,DRREDDY,Dr. Reddy's Laboratories Ltd.,Healthcare,6157.90,74989,0.76
17,EICHERMOT,Eicher Motors Ltd.,Automobile and Auto Components,4019.30,55025,0.56
18,GRASIM,Grasim Industries Ltd.,Construction Materials,2287.30,84344,0.86
19,HCLTECH,HCL Technologies Ltd.,Information Technology,1543.55,163358,1.66
20,HDFCBANK,HDFC Bank Ltd.,Financial Services,1447.90,1088916,11.07
21,HDFCLIFE,HDFC Life Insurance Company Ltd.,Financial Services,633.35,66750,0.68
22,HEROMOTOCO,Hero MotoCorp Ltd.,Automobile and Auto Components,4722.30,61366,0.62
23,HINDALCO,Hindalco Industries Ltd.,Metals & Mining,560.25,81835,0.83
24,HINDUNILVR,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,2264.35,202171,2.05
25,ICICIBANK,ICICI Bank Ltd.,Financial Services,1093.30,767657,7.80
26,ITC,ITC Ltd.,Fast Moving Consumer Goods,428.35,379597,3.86
27,INDUSINDBK,IndusInd Bank Ltd.,Financial Services,1553.00,102737,1.04
28,INFY,Infosys Ltd.,Information Technology,1498.05,534746,5.44
29,JSWSTEEL,JSW Steel Ltd.,Metals & Mining,830.20,79178,0.80
30,KOTAKBANK,Kotak Mahindra Bank Ltd.,Financial Services,1785.50,262655,2.67
31,LTIM,LTIMindtree Ltd.,Information Technology,4938.40,45340,0.46
32,LT,Larsen & Toubro Ltd.,Construction,3763.90,444961,4.52
33,M&M,Mahindra & Mahindra Ltd.,Automobile and Auto Components,1921.35,183973,1.87
34,MARUTI,Maruti Suzuki India Ltd.,Automobile and Auto Components,12600.35,166386,1.69
35,NTPC,NTPC Ltd.,Power,335.80,159551,1.62
36,NESTLEIND,Nestle India Ltd.,Fast Moving Consumer Goods,2622.35,93549,0.95
37,ONGC,Oil & Natural Gas Corporation Ltd.,"Oil, Gas & Consumable Fuels",268.05,104536,1.06
38,POWERGRID,Power Grid Corporation of India Ltd.,Power,276.90,126192,1.28
39,RELIANCE,Reliance Industries Ltd.,"Oil, Gas & Consumable Fuels",2971.70,1005280,10.22
40,SBILIFE,SBI Life Insurance Company Ltd.,Financial Services,1500.25,67604,0.69
41,SHRIRAMFIN,Shriram Finance Ltd.,Financial Services,2359.80,65623,0.67
42,SBIN,State Bank of India,Financial Services,752.35,288721,2.93
43,SUNPHARMA,Sun Pharmaceutical Industries Ltd.,Healthcare,1620.55,174971,1.78
44,TCS,Tata Consultancy Services Ltd.,Information Technology,3876.30,392694,3.99
45,TATACONSUM,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,1096.20,68937,0.70
46,TATAMOTORS,Tata Motors Ltd.,Automobile and Auto Components,992.80,174864,1.78
47,TATASTEEL,Tata Steel Ltd.,Metals & Mining,155.85,128407,1.31
48,TECHM,Tech Mahindra Ltd.,Information Technology,1248.10,79225,0.81
49,TITAN,Titan Company Ltd.,Consumer Durables,3801.80,158634,1.61
50,ULTRACEMCO,UltraTech Cement Ltd.,Construction Materials,9749.15,112579,1.14
51,WIPRO,Wipro Ltd.,Information Technology,480.10,67730,0.69

In [47]:
df.shape

(50, 6)

In [48]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     object
 5   Weightage      50 non-null     object
dtypes: float64(1), object(5)
memory usage: 2.7+ KB

In [50]:
df['Weightage'] = df['Weightage'].astype('float')

In [51]:
df['Index Mcap'] = df['Index Mcap'].astype('float')

In [52]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828.0,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552.0,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981.0,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338.0,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312.0,3.02

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     float64
 5   Weightage      50 non-null     float64
dtypes: float64(3), object(3)
memory usage: 2.7+ KB

In [54]:
df['Index Mcap'] = df['Index Mcap'].astype('int')

In [55]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02

In [57]:
df.shape

(50, 6)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 51
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         50 non-null     object
 1   Security Name  50 non-null     object
 2   Industry       50 non-null     object
 3   Close Price    50 non-null     float64
 4   Index Mcap     50 non-null     int32
 5   Weightage      50 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 2.5+ KB

In [59]:
df.to_csv(r'C:\Stock_Market\Data\Nifty50_Excel - Clean\clean1_March2024.csv', index =False)

In [60]:
df.head()

,Symbol,Security Name,Industry,Close Price,Index Mcap,Weightage
1,ADANIENT,Adani Enterprises Ltd.,Metals & Mining,3197.10,83828,0.85
2,ADANIPORTS,Adani Ports and Special Economic,Services,1341.85,98552,1.00
4,APOLLOHOSP,Apollo Hospitals Enterprise Ltd.,Healthcare,6356.80,63981,0.65
5,ASIANPAINT,Asian Paints Ltd.,Consumer Durables,2846.75,128338,1.30
6,AXISBANK,Axis Bank Ltd.,Financial Services,1047.20,297312,3.02